In [13]:
library(dplyr)
library(nycflights13)
library(feather)

In [6]:
nrow(flights)

[1] 336776

In [7]:
colnames(flights)

 [1] "year"           "month"          "day"            "dep_time"
 [5] "sched_dep_time" "dep_delay"      "arr_time"       "sched_arr_time"
 [9] "arr_delay"      "carrier"        "flight"         "tailnum"
[13] "origin"         "dest"           "air_time"       "distance"
[17] "hour"           "minute"         "time_hour"

In [8]:
head(flights)

Source: local data frame [6 x 19]

   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
  (int) (int) (int)    (int)          (int)     (dbl)    (int)          (int)
1  2013     1     1      517            515         2      830            819
2  2013     1     1      533            529         4      850            830
3  2013     1     1      542            540         2      923            850
4  2013     1     1      544            545        -1     1004           1022
5  2013     1     1      554            600        -6      812            837
6  2013     1     1      554            558        -4      740            728
Variables not shown: arr_delay (dbl), carrier (chr), flight (int), tailnum
  (chr), origin (chr), dest (chr), air_time (dbl), distance (dbl), hour (dbl),
  minute (dbl), time_hour (time)

In [15]:
system.time(write.csv(flights, "flights.csv", row.names=FALSE, na=""))

   user  system elapsed
  4.540   0.000   4.543

In [16]:
system.time(write_feather(flights, "flights.feather"))

   user  system elapsed
  0.230   0.050   0.275